*{
    padding: 0px;
    margin: 0px;
}
table,td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    margin: 5px auto;
}
#h{
    border-top: black;
    border: white;
}
#lr{
    height:27px;
}
#tdr{
    text-align: left;
    padding-left: 7px;
}